* {
   margin: 0;
   padding: 0;
}

html {
   background-color: #282c34;
}

.App {
   font-size: 16px;
   /* text-align: center; */
   color: white;
}

.App-logo {
   height: 40vmin;
   pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
   /* .App-logo {
      animation: App-logo-spin infinite 20s linear;
   } */
}

.App-header {
   background-color: #282c34;
   /* min-height: 100vh; */
   display: flex;
   flex-direction: column;
   align-items: center;
   /* justify-content: center; */
   font-size: calc(10px + 2vmin);
}

.App-link {
   color: #61dafb;
}

@keyframes App-logo-spin {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}

.disflex {
   display: flex;
}

.imglogo img {
   width: 50px;
}

ul {
   list-style: none;
}

li {
   text-align: left;
   font-size: 14px;
}

.heading {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.title {
   margin-left: 10px;
}

footer {
   text-align: center;
   padding: 32px;
}

footer a {
   text-decoration: none;
   color: red;
}

.year {
   color: rgba(255, 255, 255, 0.8);
}

.season {
   color: rgba(255, 255, 255, 0.6);
}

.episode {
   color: rgba(255, 255, 255, 0.3);
}
